:root {
  --bg-main: #0e0e0e;
  --bg-card: #151515;
  --bg-muted: #222;

  --color-text: #f1f1f1;
  --color-muted: #aaa;

  --color-primary: #1e90ff;
  --color-success: #2ecc71;
  --color-danger: #e74c3c;
  --color-warning: #f39c12;

  --border: #2a2a2a;
  --radius: 8px;
}
